*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
}

nav{
    width:100vw;
    background-color: rgb(185, 182, 182);
    height:70px;
    padding:20px;
    display: flex;  
    align-items: center;
    justify-content: center;  
}
 nav a{
    text-decoration: none;
    border: 2px solid rgb(53, 51, 51);
    padding:7px 12px;
    font-size: 1.5rem;
    color: rgb(48, 47, 47);
    border-radius:3px;
}
.main_container{
    height:100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.button{
    border:2px solid black;
    width:100px;
    height:100px;
    text-align: center;
    border-radius: 5px;
}
#grey{
    background-color: grey;
}

#yellow{
    background-color:yellow;
}

#white{
    background-color:white;
}

#aqua{
    background-color:aqua;
}
#purple{
    background-color:purple;
}
